/* Variables */
:root {
  --height: 100vh;
  --text-color: #062930;
  --about-content-width: 30%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-padding-top: var(--scroll-padding);
}

body {
  background: #d4fef2;
  overflow-x: hidden;
  height: var(--height);
  font-family: "Exo 2", sans-serif;
}

main {
  width: 100%;
}

/* Navbar customizations starts */
/* ************************************* */
a {
  text-decoration: none;
}

ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}

li {
  padding: 0.6rem;
}

a {
  color: var(--text-color);
}

.logo {
  font-size: 1.7rem;
  line-height: 1.6;
  text-transform: lowercase;
  padding-left: 2rem;
}

.container-nav {
  position: fixed;
  z-index: 9999;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
  box-shadow: 0px 0px 14px 0px rgba(6, 43, 50, 0.3);
  list-style: none;
  padding: 0.6rem;
  background: #d4fedd;
}

ul a:hover {
  background-color: hsl(160, 100%, 75%);
  color: rgb(255, 255, 255);
  padding: 0.6rem;
  transition: all 0.3s ease 0s;
  border-radius: 5px;
}

/* Burger menu */
.mobile-button {
  color: var(--text-color);
  font-size: 2rem;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  display: none;
}

/* Sections */
/* ************************************* */

section {
  height: var(--height);
  border: 1px solid black;
}

.section-titile {
  font-size: 3rem;
  text-align: center;
  padding-top: 5rem;
  color: var(--text-color);
}

.ref-anchor {
  display: flex;
  margin: 2rem auto;
  width: 6rem;
  color: white;
  font-size: 0.8rem;
  box-sizing: border-box;
  font-family: sans-serif;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  padding: 1rem;
  cursor: pointer;
  background: linear-gradient(#252525, #252525 50%, #80ffd4 50%, #80ffd4);
  background-size: 100% 200%;
  transition: background 1s; /*trasition effect for background*/
}

.ref-anchor:hover {
  color: var(--text-color);
  background-position: 100% 100%;
}

/* #hero section starts*/
/* ************************************* */

.container-hero {
  /* The following 3 steps for centering inline block contents */
  display: block;
  margin-inline: auto;
  width: max-content;
  justify-content: center;
  text-align: center;
  padding-top: 40vh;
}

.title-text {
  font-size: 2.3rem;
  color: var(--text-color);
  overflow: hidden;
  border-right: 0.2rem solid #062930; /* to create the typewriter cursor effect*/
  white-space: nowrap;
  width: 0;
  animation: writter 3s steps(30, end) forwards, cursor-blink 1s infinite;
}

/* typewritter effect */
@keyframes writter {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* cursor blinking effect */
@keyframes cursor-blink {
  from {
    border-color: transparent;
  }
  to {
    border-color: #062930;
  }
}

.name {
  font-size: 2.8rem;
  background-color: #062930;
  color: #80ffd4;
  padding: 0.3rem;
}

.reference {
  overflow: hidden;
  width: 0;
  animation: writter 2s both;
  animation-delay: 2.5s;
}

/* #about section starts*/
/* ************************************* */

.container-about {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 2.5rem;
  margin: auto;
  padding-top: 15rem;
}

.bio,
.skill-section {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  background-color: #d4fedd;
  height: 35vh;
}

.bio {
  width: var(--about-content-width);
  padding: 0.6rem;
  text-align: center;
  overflow: hidden;
}

.bio-text {
  color: #300d06;
  font-size: 1.5rem;
  text-align: center;
  padding: 4rem 4rem 0 4rem;
}

.skill-section {
  width: var(--about-content-width);
  text-align: center;
  overflow: hidden;
}

.skill-section h3 {
  padding-top: 1rem;
  font-size: 1.5rem;
}

.skill-icon {
  font-size: 5rem;
  padding: 4rem;
}

/* contact section starts */
/* ************************************* */

.container-contact {
  max-width: 50rem;
  margin: 0 auto;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.container-contact label {
  line-height: 2.5rem;
  font-weight: bold;
  color: #300d06;
  font-size: 1.2rem;
}

.form-input {
  width: 100%;
  padding: 0.3rem;
  border-radius: 3px;
  font-size: 0.9rem;
  border: 2px ridge #300d06;
}

.submit-button {
  width: 100%;
  padding: 0.5rem;
  margin: 0.3rem 0;
  background-color: rgb(240, 255, 255);
  border: 2px ridge #300d06;
  border-radius: 3px;
  font-size: 1rem;
  font-weight: bolder;
  color: #062930;
}

.submit-button:hover {
  background-color: #d4fedd;
  border: 2px outset #062930;
  cursor: pointer;
}

/* footer */
/* ************************************* */

footer > p {
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  padding: 10px;
  color: var(--text-color);
}

/* To fit in the smaller screens */
@media only screen and (max-width: 600px) {
  /* .container-nav {
    font-size: 0.6rem;
    padding: 0.5rem;
    position: fixed;
    top: 0;
    height: fit-content;
  }
  body {
    font-size: 0.5rem;
  }
  section {
    flex-basis: 33%;
  }
  .container-hero,
  .title-text {
    font-size: 0.8rem;
  }

  .name {
    font-size: 1.2rem;
  }

  .ref-anchor {
    font-size: 0.5rem;
    display: block;
    padding: 5px 5px;
  }

  .ref-anchor:hover {
    background: #80ffd4;
    color: #062930;
    transition: all 0.3s;
  } */
}
